 .pic, .pics{
  padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    object-fit: contain;
    border-style: solid;
    background-color: rgb(233, 232, 232);

}
.pictures
{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  object-fit: contain;
  border-style: solid;
  background-color: rgb(211, 198, 198);
  background-repeat: no-repeat;
  background-size: 300px ;
  background-image: -webkit-gradient();
}

